/* Variabes */

$grey: #f3f3f3;
$white: #fff;

/* Mixin's */
@mixin transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
@mixin corners($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
  -khtml-border-radius: $radius;
}

body {
  font-family: 'Amatic SC', cursive;
  height: 100%;
  background-position: 50% 0%;
}

.wrapper {
  width: 800px;
  margin: 30px auto;

  text-align: center;
}

h1,
h2,
h3 {
  font-family: 'Amatic SC', cursive;
  font-weight: 150;
  font-size: 3em;
  text-transform: uppercase;
}

p {
  font-size: 300%;
}

button {
  @include corners(5px);
  color: "#fffff";
  border: solid 1px $white;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  outline: none;
  &:hover {
    @include transition;
    background: "";
    border: solid 1px $white;
  }
}
img{
  width:5%;
}
